<% cache [item, item.insurer] do %>
  <div class="card-wrap">
    <div class="row">
     <!-- Title -->
      <div class='col-xs-12 col-sm-6 col-md-9 hidden-lg hidden-md'>
         <h2 class='fs20 fw-bold mt10'>
           <%= item.name %>
         </h2>
      </div>

      <!-- Image -->
      <div class="col-xs-6 col-sm-6 col-md-3 br-r">
         <%= image_tag item.photo.url, class: 'img-card center-block' %>
      </div>

      <!-- Title -->
      <div class='col-xs-12 col-sm-6 col-md-9 hidden-sm hidden-xs'>
        <h2 class='fs20 fw-bold mt10'>
          <%= item.name %>
        </h2>
      </div>

      <!-- Text -->
      <div class='col-xs-6 col-sm-6 col-md-6'>
        <div class='card-text-block'>
          <% item.benefits&.split('#').to_a.each do |benefit| %>
            <p class="benefit-item">
              <i class="fa fa-check" aria-hidden="true"></i>
              <b><%= benefit %>
                <b></p><br>
              <% end %>
            </div>
          </div>

          <!-- Buttons -->
          <div class='col-xs-12 col-sm-6 col-md-3 card-buttons-block'>
            <%= link_to t(:'go_to_insurance'), go_to_site_insurance_path(item, cid: cid_param), class: 'btn tr-btn--primary btn-block fw-bold', data: { 'ga-event-category': 'seguros', 'ga-event-action': 'clickout', 'ga-event-label': item.name }, target: :_blank
            %>

            <%= link_to "#card-wrap-info-#{item.id}", class: 'btn btn-block', data: { toggle: :collapse }, 'aria-expanded': false, 'aria-controls': "#card-wrap-info-#{item.id}" do %>
            <span class='display-inline'>Saiba mais</span>
            <span class='display-inline'>
              <i class='fa fa-chevron-down toggle-wrap-open'></i>
              <i class='fa fa-chevron-up toggle-wrap-close'></i>
            </span>
          <% end %>
        </div>
      </div>

      <!-- More Info -->
      <div id="card-wrap-info-<%= item.id %>" class='collapse'>
        <div class='row'>
          <div class='col-md-12'>
            <hr>
            <div class='p10 br3 bg-light-gray'>
              <ul class='info-card'>
                <li>
                  <span class='fw-bold'><%= t('insurer')%>:</span>
                  <%= item.insurer.name %>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Card Buttons -->
        <div class="row">
        <%= render partial: 'shared/cta_list_buttons_item', locals: {item: item, request_product_label: t('go_to_insurance'),
        request_product_path: go_to_site_insurance_path(item, cid: cid_param),
        more_info_label: '+ Detalhes do Seguro', more_info_path: insurance_path(item, cid: cid_param), display_more_info_button: true}  %>
        </div>
      </div>
    </div>

  <% end %>
