<% content_for :title, title_for_insurances_index %>
  <section>
    <div class="container-fluid container-index">
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12 col-sm-3 col-md-3 pull-right hidden-xs hidden-sm'>
            <div class='insurance-box-filter'></div>
          </div>
          <div class='col-xs-12 col-sm-9 col-md-9'>
            <div class='row'>
              <div class='col-md-12'>
                <h1 class='main-title-page'>
                  <% if @product_tip&.title.present? %>
                    <%= @product_tip&.title%>
                  <% else %>
                    <%= h1_for_insurances_index %>
                  <%end%>
                </h1>
              </div>
            </div>
            <div class='row hidden-xs hidden-sm'>
              <div class='col-md-12 mt10 text-align-center'>
                <div class='lh text-dark-blue'>
                  <% if @product_tip&.description.present? %>
                    <%= @product_tip&.description %>
                  <%else%>
                    <%= t('insurances.index.subtitle_html') %>
                  <%end%>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id='index-more-info' class='collapse'>
          <div class='row'>
            <div class='col-md-12'>
              <hr class='hr-index-info'>
              <div class='text-align-justify pb10 lh'>
                <%= t(:'text_index_insurances_html')%>
                <br>
                <% if @product_tip&.text.present? %>
                  <%= @product_tip&.text %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class="row">
        <%= render 'filter' %>
        <div class="col-md-9">
          <div class="row desktop-sort">
            <div class="col-md-3 dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-desktop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class='fa fa-sort-alpha-asc' aria-hidden='true'></i>
                <%= t(:'order') %>
                <span class='caret'></span>
              </button>
              <ul class="dropdown-menu sort" aria-labelledby="dropdownMenu-desktop-1">
                <li>
                  <a href="#" data-order='ordenado-por-mais-relevantes'><%= t('most_relevant') %></a>
                </li>
                <li>
                  <a href="#" data-order='ordenado-por-beneficios'><%= t('insurance_benefits') %></a>
                </li>
                <li>
                  <a href="#" data-order='ordenado-por-seguradora'><%= t('insurer') %></a>
                </li>
              </ul>
            </div>
          </div>
          <%= render 'list', insurances: @insurances %>
        </div>
      </div>
    </div>
  </section>
