<div class="col-xs-12 col-md-3 col-lg-2">
  <div class="row">
    <!-- SORT -->
    <div class="dropdown col-xs-6 mobile-sort">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= t('order') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu sort" aria-labelledby="dropdownMenu1">
        <li>
          <a href="#" data-order='ordenado-por-mais-relevantes'><%= t('most_relevant') %></a>
        </li>
        <li>
          <a href="#" data-order='ordenado-por-anuidade'><%= t('annuity') %></a>
        </li>
        <li>
          <a href="#" data-order='ordenado-por-renda-minima'><%= t('minimum_rent') %></a>
        </li>
      </ul>
    </div>
    <!-- FILTROS (MOBILE) -->
    <%= form_tag(filter_bank_url(id: @bank.slug), id: 'banks-filter') do %>
    <div class="dropdown col-xs-6 mobile-filter">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= t('filter') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
        <!-- Filter por Banco -->
        <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-1"></div>
          </div>
        </div>
        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-2">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                  <%= t('filter_by_flag') %>
                </a>
              </h4>
            </div>
            <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
              <ul class="list-group">
                <% Flag.joins(:cards).distinct.all.each do |flag| %>
                  <li class="list-group-item">
                    <label>
                      <%= check_box_tag flag.id, flag.slug, params[:path]&.include?(flag.slug), data: { 'search-param': flag.slug } %>
                      <%= flag.name %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </ul>
  </div>
  <div class="dropdown col-xs-12 desktop-filter">
    <!-- Filter por Bandeira-->
    <div class="panel-group" id="accordion-desktop-2" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne-desktop-2">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion-desktop-2" href="#collapseOne-desktop-2" aria-expanded="true" aria-controls="collapseOne-desktop-2">
              <%= t('filter_by_flag') %>
            </a>
          </h4>
        </div>
        <div id="collapseOne-desktop-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-desktop-2">
          <ul class="list-group">
            <% Flag.joins(:cards).distinct.all.each do |flag| %>
              <li class="list-group-item">
                <label>
                  <%= check_box_tag "flag-#{flag.id}", flag.slug, params[:path]&.include?(flag.slug), data: { 'search-param': flag.slug }%>
                  <%= flag.name %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
