 <div class="col-md-3">
    <div class="row">
      <!-- SORT -->
      <div class="dropdown col-xs-6 mobile-sort">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> <%= t('order') %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu sort" aria-labelledby="dropdownMenu1">
          <li><a href="#" data-order='ordenado-por-mais-pesquisadas'><%= t('most_searched') %></a></li>
          <li><a href="#" data-order='ordenado-por-custo-mensal'><%= t('monthly_cost') %></a></li>
          <li><a href="#" data-order='ordenado-por-renda-minima'><%= t('minimum_rent') %></a></li>
        </ul>
      </div>
    <!-- FILTROS (MOBILE) -->
    <%= form_tag(filter_accounts_path, id: 'accounts-filter') do %>
          <div class="dropdown col-xs-6 mobile-filter">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-filter" aria-hidden="true"></i> <%= t('filter') %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
            <!-- Filter por renda mínima -->
            <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne-2">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-2"
                      href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                      <%= t('minimum_rent') %>
                    </a>
                  </h4>
              </div>
              <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label>
                      <%= radio_button_tag 'renda-minima-mobile', 'renda-minima-naoexigida', params[:path]&.include?('renda-minima-naoexigida'), data: { 'search-param': 'renda-minima-naoexigida' }%>
                      <%= t('not_required') %>
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <%= radio_button_tag 'renda-minima-mobile', 'renda-minima-0-1500', params[:path]&.include?('renda-minima-0-1500'), data: { 'search-param': 'renda-minima-0-1500' }%>
                      <%= t('until') %>
                      <%= t('money_unit')%>
                      1500
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <%= radio_button_tag 'renda-minima-mobile', 'renda-minima-0-3000', params[:path]&.include?('renda-minima-0-3000'), data: { 'search-param': 'renda-minima-0-3000' }%>
                      <%= t('money_unit')%>
                      1500 - 3000
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <%= radio_button_tag 'renda-minima-mobile', 'renda-minima-0-5000', params[:path]&.include?('renda-minima-0-5000'), data: { 'search-param': 'renda-minima-0-5000' }%>
                      <%= t('money_unit')%>
                      3000 - 5000
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <%= radio_button_tag 'renda-minima-mobile', 'renda-minima-0-10000', params[:path]&.include?('renda-minima-0-10000'), data: { 'search-param': 'renda-minima-0-10000' }%>
                      <%= t('money_unit')%>
                      5000
                      <%= t('or_more')%>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Filter por Banco -->
            <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne-3">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                      <%= t('filter_by_bank')%>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-3">
                  <ul class="list-group">
                    <% Bank.joins(:accounts).distinct.all.each do |bank| %>
                      <li class="list-group-item">
                        <label>
                          <%= check_box_tag bank.id, bank.slug, params[:path]&.include?(bank.slug), data: { 'search-param': bank.slug }%>
                          <%= bank.name %>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne-3">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                      <%= t('tips_triunfei') %>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
                  <ul class="list-group">
                    <%= render partial: 'shared/tip_item', collection: ProductTip.account.all, as: :item %>
                  </ul>
                </div>
              </div>
            </div>
        </ul>
      </div>
      <div class="dropdown col-xs-12 desktop-filter">
        <!-- Filter por renda mínima -->
        <div class="panel-group" id="accordion-desktop-2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-desktop-2">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-desktop-2" href="#collapseOne-desktop-2" aria-expanded="true" aria-controls="collapseOne-desktop-2">
                  <%= t('minimum_rent') %>
                </a>
              </h4>
            </div>
            <div id="collapseOne-desktop-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-desktop-2">
              <ul class="list-group">
                <li class="list-group-item">
                  <label>
                    <%= radio_button_tag 'renda-minima', 'renda-minima-naoexigida', params[:path]&.include?('renda-minima-naoexigida'), data: { 'search-param': 'renda-minima-naoexigida' }%>
                    <%= t('not_required') %>
                  </label>
                </li>
                <li class="list-group-item">
                  <label>
                    <%= radio_button_tag 'renda-minima', 'renda-minima-0-1500', params[:path]&.include?('renda-minima-0-1500'), data: { 'search-param': 'renda-minima-0-1500' }%>
                    <%= t('until') %>
                    <%= t('money_unit') %>
                    1500
                  </label>
                </li>
                <li class="list-group-item">
                  <label>
                    <%= radio_button_tag 'renda-minima', 'renda-minima-0-3000', params[:path]&.include?('renda-minima-0-3000'), data: { 'search-param': 'renda-minima-0-3000' }%>
                    <%= t('money_unit') %>
                    1500 - 3000
                  </label>
                </li>
                <li class="list-group-item">
                  <label>
                    <%= radio_button_tag 'renda-minima', 'renda-minima-0-5000', params[:path]&.include?('renda-minima-0-5000'), data: { 'search-param': 'renda-minima-0-5000' }%>
                    <%= t('money_unit') %>
                    3000 - 5000
                  </label>
                </li>
                <li class="list-group-item">
                  <label>
                    <%= radio_button_tag 'renda-minima', 'renda-minima-0-10000', params[:path]&.include?('renda-minima-0-10000'), data: { 'search-param': 'renda-minima-0-10000' }%>
                    <%= t('money_unit') %>
                    5000
                    <%= t('or_more') %>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Filter por Banco -->
        <div class="panel-group" id="accordion-desktop-3" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-desktop-3">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-desktop-3" href="#collapseOne-desktop-3" aria-expanded="true" aria-controls="collapseOne-desktop-3">
                  <%= t('filter_by_bank')%>
                </a>
              </h4>
            </div>
            <div id="collapseOne-desktop-3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-desktop-3">
              <ul class="list-group">
                <% Bank.joins(:accounts).distinct.all.each do |bank| %>
                  <li class="list-group-item">
                    <label>
                      <%= check_box_tag "bank-#{bank.id}", bank.slug, params[:path]&.include?(bank.slug), data: { 'search-param': bank.slug }%>
                      <%= bank.name %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-group" id="accordion-desktop-3" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-desktop-3">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-desktop-3" href="#collapseOne-desktop-3" aria-expanded="true" aria-controls="collapseOne-desktop-3">
                  <%= t('tips_triunfei') %>
                </a>
              </h4>
            </div>
            <div id="collapseOne-desktop-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-desktop-2">
              <ul class="list-group">
                <%= render partial: 'shared/tip_item', collection: ProductTip.account.all, as: :item %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
